# Python Refresher part 2

List 

A container data type that stores a
sequence of elements. Unlike strings, lists
are mutable: modification possible.

In [ ]:
list_num = [12, 22, 32, 42]
print(list_num)
#Add elements to a list
#Append
list_num.append(52)
print(list_num)
#Insert index where will be added and element to add
#The list starts in 0 and ends in n-1
list_num.insert(1,13)
print(list_num)
#Concatenate
print(list_num + [62])

#You can do negative indexing
print(list_num[-1])
print(list_num[-2])

#Iterating over a list using loop instructions
#For
print()
for item in list_num:
  #the identation indicates the context
  print(item)

print()
#Another way of doing the same
for index in range(0,len(list_num)):
  print(list_num[index])

print()
#Using a while and doing the same
i=0
while(i<len(list_num)):
  print(list_num[i])
  i+=1 #i = i+1

print()
#Removing values from a list
list_num.remove(32)
print(list_num)
print()
#pop function
list_num.pop()#removes the last value in the list (stack)
print(list_num)
print()
list_num.pop(0)#the attribute is the index to remove the elemnt from
print(list_num)
print()

#Reverse the order of a list
list_num.reverse()
print(list_num)
print()

#Sorting the numbers of a list
list_num.insert(1,92)
print(list_num)
list_num.sort()
print(list_num)
print()

#Finding the first ocurrence of an element in a list
print(list_num.index(92))
print()
list_num.insert(3,13)
print(list_num)
print(list_num.index(13))
#Return index after position 1
print(list_num.index(13,1))
print()

#You can slice a list
print(list_num[:2])

[12, 22, 32, 42]
[12, 22, 32, 42, 52]
[12, 13, 22, 32, 42, 52]
[12, 13, 22, 32, 42, 52, 62]
52
42

12
13
22
32
42
52

12
13
22
32
42
52

12
13
22
32
42
52

[12, 13, 22, 42, 52]

[12, 13, 22, 42]

[13, 22, 42]

[42, 22, 13]

[42, 92, 22, 13]
[13, 22, 42, 92]

3

[13, 22, 42, 13, 92]
0
3

[13, 22]

E1. Now create a list of five fruits (introduce 5 strings of five fruits). Iterate over each element and print the list. Then add a 6th fruit at the end and a 7th fruit in index 2. Print the list backwards and finally print the list ordered alphabetically

Tuples

They are similar to lists, but the elements of a tuple cannot be modified. These are specified using round brackets

In [ ]:
t1 = ("lion", "elephant")
print(t1)
#Type is a function that can retrieve the type of object 
print(type(t1))

#You can create a function that returns a tuple
#A function is defined ussing the keyword def, the name of the function and the parameters it receives
def calculate_velocity_acceleration(distance, time):
  velocity = distance/time
  return (velocity, distance, time) # A function can receive a message or not

print(calculate_velocity_acceleration(20, 4.5))

('lion', 'elephant')
<class 'tuple'>
(4.444444444444445, 20, 4.5)

E2. Now create a function acceleration that receives velocity and time and returns acceleration, velocity and time

Set

is an unordered collection of unique elements (“at-most-once”).

In [ ]:
basket = {'apple', 'eggs', 'milk', 'banana', 'orange juice'}
#The set constructor can be used to create the same set from a list
same_basket = set(['apple', 'eggs', 'milk', 'banana', 'orange juice'])
print(basket)
print(same_basket)

{'apple', 'eggs', 'milk', 'orange juice', 'banana'}
{'apple', 'eggs', 'milk', 'orange juice', 'banana'}

Dictionary

The dictionary is a useful data structure for storing (key, value) pairs.

In [ ]:
calories = {'apple' : 52, 'banana' : 89, 'choco' : 546}
#You can iterate over a dictionary
for item in calories:
  print(item)
print()

for item in calories:
  print(item, "\t", calories[item])
print()

#This does the same:
for item, cal in calories.items():
  print(item, "\t", cal)
print()

#The in keywork help us to know if an element is in a list, dictionary or set
print('apple' in calories)
print('soup' in calories)

apple
banana
choco

apple 	 52
banana 	 89
choco 	 546

apple 	 52
banana 	 89
choco 	 546

True
False

E3. Create a dictionary of food in a menu of pizzas and prices. Then create a list client containing some of these pizzas and calculate the price to pay in the client list

Now, it arrived the time to create a class and wrap it all. 

A class encapsulates data and functionality: data as attributes, and functionality as methods. It is a blueprint for creating concrete instances in memory.

In the following example we are going to create a CatRobot class

In [27]:
class CatRobot:
  """ Blueprint of a cat """
  # class variable shared by all instances
  species = ["Felis catus"]

  #This is the class constructor (to instance an object)
  def __init__(self, name, colour):
    #These are th attrribute of the cat robot
    self.name = name
    self.state ="awake"
    self.colour = colour

  #These are methods to interact with the object
  def command(self, x):
    if x == self.name:
      self.meow(2)
    elif x == "sleep":
      self.state = "sleeping"
    else:
      self.state = "awake"

  def meow(self, freq):
    for i in range(freq):
      print("[" + self.name+ "]: Meow!")

cat1 = CatRobot("kitty", "white") #This calls the constructor method
cat2 = CatRobot("toulouse", "grey")
print()
print(cat1.name, cat1.state, cat1.colour)
print(cat2.name, cat2.state, cat2.colour)
print()
cat1.command("sleep")
print(cat1.name, cat1.state)
print(cat2.name, cat2.state)
cat1.command("awake")
print(cat1.name, cat1.state)
cat1.meow(5)

kitty awake white
toulouse awake grey

kitty sleeping
toulouse awake
kitty awake
[kitty]: Meow!
[kitty]: Meow!
[kitty]: Meow!
[kitty]: Meow!
[kitty]: Meow!

Please consider that Python has many libraries and sometimes instead of creating our own Classes, we will re-use classes. To know how these classes are defines, you will have to look at the specific Python documentation of the class (https://docs.python.org/3/library/index.html)

E4. Now create a class DogRobot, create 3 dogs and call a few methods